databases:
  - name: azureahotel-mysql
    databaseName: hotel_management
    plan: free

services:
  - type: web
    name: azureahotel-api
    runtime: python
    region: singapore
    buildCommand: "./build.sh"
    startCommand: "cd hotel_backend && gunicorn hotel_backend.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: hotel_backend.production_settings
      - key: DB_HOST
        fromDatabase:
          name: azureahotel-mysql
          property: host
      - key: DB_NAME
        fromDatabase:
          name: azureahotel-mysql
          property: database
      - key: DB_USER
        fromDatabase:
          name: azureahotel-mysql
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: azureahotel-mysql
          property: password
      - key: DB_PORT
        value: 3306
      - key: SECRET_KEY
        generateValue: true
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: CLOUD_NAME
        sync: false
      - key: API_KEY
        sync: false
      - key: API_SECRET
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: PAYMONGO_TEST_SECRET_KEY
        sync: false