databases:
  - name: azureahotel-db
    databaseName: hotel_management
    user: hotel_user
    plan: free
    region: singapore

services:
  # Django Web Service
  - type: web
    name: azureahotel-api
    runtime: python
    region: singapore
    plan: free
    rootDir: server
    buildCommand: |
      pip install -r requirements.txt
    startCommand: |
      cd hotel_backend && python manage.py migrate --noinput && python manage.py collectstatic --noinput && daphne -b 0.0.0.0 -p $PORT hotel_backend.asgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.6
      - key: DATABASE_URL
        fromDatabase:
          name: azureahotel-db
          property: connectionString
      - key: REDIS_URL
        fromService:
          name: azureahotel-redis
          type: redis
          property: connectionString
      - key: DJANGO_SETTINGS_MODULE
        value: hotel_backend.settings
      - key: DEBUG
        value: "False"
      # Add your other env vars from the Environment tab
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: CLOUD_NAME
        sync: false
      - key: API_KEY
        sync: false
      - key: API_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: PAYMONGO_TEST_SECRET_KEY
        sync: false

  # Redis for Channels & Caching
  - type: redis
    ipAllowList:
      - source: 0.0.0.0/0
    name: AzureaHotel
    plan: free
    region: singapore
    maxmemoryPolicy: allkeys-lru